/* solo importaciones */

@import 'reset.css';
@import './variables.css';
@import './components/main_components.css';



/*view port*/
* {
    overflow: hidden;  
}

body {
    background-color: var(--background_color);
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

section {
    box-sizing: border-box;
}

/*.background{
    
    height: 100vh;
}*/

